.header {
    position: fixed;
    bottom: 0;
    z-index: 2;
    height: $headerHeight;
    background-color: $white;

    &__nav {
        margin: 0 1em;
    }
}

.nav {
    display: flex;
    align-items: center;
    height: 100%;

    &__item {
        padding: 1em;

        &__link {

            &:link, &:visited, &:hover, &:focus, &:active {
                text-decoration: none;
                color: inherit;
            }
        }
    }
}
