#__next {
    height: 100%;
    width: 100%;
}

.work {
    // display: flex;
    // justify-content: center;
    // align-items: center;
        padding: 15px 0 60px 0;

    @include media-breakpoint-up(sm) {
        padding: 60px;
    }
}
