// $black: #000000;
$black: #212529;
$white: #FFFFFF;

$mainBlue: #b2e1ff;
$headerColour: white;
$aboutColour: aquamarine;
$projectsColour: #454545;
$skillsColour: coral;
$designColour: #161616;
$availabilityColour: antiquewhite;
$contactColour: #f3f0ff;

$twitterBlue: #63CCF0;
$facebookBlue: #45619D;
$linkedinBlue: #1C86BC;
$instagramTan: #BB9F1B;

$headerHeight: 60px;
$figureSize: 90px;
$triangleSize: 30px;
$appBreakpoint: 880px;
